[core]
    editor = code -w
[merge]
    tool = code
[mergetool "code"]
    cmd = code --wait $MERGED
    keepBackup = false
[diff]
    tool = code
[difftool "code"]
    cmd = code --wait --diff $LOCAL $REMOTE
[difftool]
    prompt = false